
CloverCodeChallenge.xcodeproj/xcuserdata/danielspady.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
fastlane/.DS_Store
.DS_Store
CloverCodeChallenge.xcodeproj/project.xcworkspace/xcuserdata/danielspady.xcuserdatad/UserInterfaceState.xcuserstate
